page-login {
  .login-part {
    text-align: center;
    *{
      width: 100%;
    }
    .login-form{
      padding-right: 10px;

      button{
        padding-left: 10px;
      }
    }
  }

  .box{
    display: flex;
    justify-content: space-between;
    .register{
      flex-grow: 1;
    }
  }

  .list-md .item-block .item-inner {
    border-bottom: 1px solid #dedede !important;
  }

  .list-md .item-input:last-child {
    border-bottom: 0px;
  }

  .slide-images {
    height: 260px;
  }
}
