<ion-header>
  <ion-navbar>
    <ion-title>表单信息</ion-title>

    <ion-buttons start>
      <button ion-button (click)="dismiss()" style="font-size: 2rem;">
        <span ion-text color="primary" showWhen="ios">complete</span>
        <ion-icon ios="ios-checkmark" md="md-checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <div *ngIf="!bigImageSrc&&checkForm">
    <form [formGroup]="checkForm">
      <ion-list>
        <ion-item>
          <ion-label floating>项目名称</ion-label>
          <ion-input type="text" [formControl]="name" disabled="true"></ion-input>
        </ion-item>

        <div class="check-content">
          <ion-list radio-group>
            <div class="check-header">
              原材料及半成品现场堆放情况
            </div>
            <div class="state">
              <ion-item>
                <ion-label>合格</ion-label>
                <ion-radio value="qualified" (click)="selectState('material', 'qualified')"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>不合格</ion-label>
                <ion-radio value="unqualified" (click)="selectState('material', 'unqualified')"></ion-radio>
              </ion-item>
            </div>
          </ion-list>

          <ion-list radio-group>
            <div class="check-header">
              结构物实测实量
            </div>
            <div class="state">
              <ion-item>
                <ion-label>合格</ion-label>
                <ion-radio value="qualified" (click)="selectState('structure', 'qualified')"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>不合格</ion-label>
                <ion-radio value="unqualified" (click)="selectState('structure', 'unqualified')"></ion-radio>
              </ion-item>
            </div>
          </ion-list>

          <ion-list radio-group>
            <div class="check-header">
              预埋预留钢筋位置及保护情况
            </div>
            <div class="state">
              <ion-item>
                <ion-label>合格</ion-label>
                <ion-radio value="qualified" (click)="selectState('rebar', 'qualified')"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>不合格</ion-label>
                <ion-radio value="unqualified" (click)="selectState('rebar', 'unqualified')"></ion-radio>
              </ion-item>
            </div>
          </ion-list>
        </div>
      </ion-list>

      <div>
        <span class="label-title">上传附件</span>
        <div class="photo-box">
          <div *ngFor="let image of images" class="photo-item">
            <img [src]="image.src" alt="picture" imageViewer="OTHER_IMAGE_URL"/>
            <button class="delete" ion-button color="danger" clear (click)="deleteImg(image.src)">X</button>
          </div>
          <div class="photo-item">
            <button (click)="openMenu()" class="add">
              <ion-icon name="add"></ion-icon>
            </button>
          </div>
        </div>
      </div>

      <div>
        <span class="label-title">状态</span>
        <div class="state-box">
          <div class="notificied">
            <ion-item class="state">
              <ion-label>已通知</ion-label>
              <ion-checkbox checked="true"></ion-checkbox>
            </ion-item>
          </div>
          <div>
            <ion-item class="state">
              <ion-label>已整改</ion-label>
              <ion-checkbox></ion-checkbox>
            </ion-item>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="bigImageSrc" class="big-img">
    <img [src]="bigImageSrc" alt="原图" imageViewer (close)="callbackAfterImageViewerCloses()">
  </div>
</ion-content>
